:root {
  --primary: #ffffff;
  --primary-text: #000000;
  --secondary: #ffffff;
  --secondary-text: #ffffff;
  --accent: rgb(0,0,0,0);
  --accent-text: #ffffff;
  --web-theme:#ffffff;
}

body{
  background-color: rgba(0,0,0, 0);
}
