:root {
  --primary: #d3d3d3;
  --primary-text: #000000;
  --secondary: #d3d3d3;
  --secondary-text: #d3d3d3;
  --accent: rgb(0,0,0,0);
  --accent-text: #d3d3d3;
  --web-theme:#d3d3d3;
}

body{
  background-color: rgba(0,0,0, 0);
}
